.form {
  width: 90%;
  margin: auto;
}
.form > h2 {
  color: #2c560c;
}
.form > .form-button {
  width: 100%;
  border-radius: 6px;
  margin: 10px auto 15px;
  font-weight: bold;
  text-shadow: 1px 1px #000;
}
