.todo-view {
  width: 100%;
  color: #2c560c;
}

.todo-view > .todo-item {
  border: 2px solid #2c560c;
  display: flex;
  padding: 10px;
  margin-bottom: 5px;
}

.todo-view > .todo-item label,
.todo-view > .todo-item p {
  width: 50%;
  font-size: 16px;
  margin: 0;
}

.todo-view > .todo-item label {
  font-weight: bolder;
}

.todo-view > .close-btn {
  width: 15%;
  margin: auto;
  border-radius: 10px;
  background-color: #2c560c;
  border: 1px solid #2c560c;
}
