.App {
  border: 1px solid #ccc;
  width: 60%;
  margin: 20px auto;
  border-radius: 12px;
  font-family: "Times New Roman", Times, serif;
  background-color: #fff;
}

.App > .App-header {
  padding: 10px 20px;
}

.App > .App-header > h2 {
  margin: 10px;
  text-align: center;
}

.App > .App-header > .todo-list-controller {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 720px) {
  .App {
    width: 80%;
  }
}
@media screen and (max-width: 450px) {
  .App {
    width: 95%;
  }
}
