.App {
  font-family: "Times New Roman", Times, serif;
  background-color: #fff;
}

.App > .App-header {
  padding: 10px 20px;
}

.App > .App-header > h2 {
  margin: 10px;
  text-align: center;
  color: #2c560e;
}

.App > .App-header > .todo-list-controller {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.App > .App-header > .todo-list-controller > .button {
  background-color: #2c560c;
  color: #fff;
  border: 1px solid #2c560c;
  font-size: 30px;
  width: 49px;
}

/* App body */
.App-body {
  margin-top: 1%;
  margin-bottom: 1%;
  padding: 0px 20px 10px;
}

@media screen and (max-width: 720px) {
  .App {
    width: 80%;
  }
}
@media screen and (max-width: 450px) {
  .App {
    width: 95%;
  }
}
